{% extends 'base/base.html' %}

{% block content %}
<div class="row mt-3">
    <div class="col-10">
        <h1>Blog List</h1>
    </div>
    <div class="col-2">
        {% if perms.blogs.add_blog %}
        <a class="btn btn-success" href="{% url 'blog_create' %}">Create</a>
        {% endif %}
    </div>
</div>
{% for blog in list_blog %}
    <div class="card mb-3">
        <div class="card-header">
            {{blog.name}} ({{blog.status}})
        </div>
        <div class="card-body">
          <p class="card-text"> {{blog.content}}</p>
          <a href="{% url 'blog_detail' pk=blog.id %}" class="btn btn-secondary">Detail</a>
          <a href="{% url 'blog_update' pk=blog.id %}" class="btn btn-primary">Update</a>
          <a href="{% url 'blog_delete' pk=blog.id %}" class="btn btn-danger">Detele</a>
        </div>
    </div>
{% endfor %}
{% endblock %}